<mat-toolbar color="primary" style="color: #ffffff; opacity: 89%; background-color:#349388">
  <a href="/" style="color: #ffffff; background-color:#349388">
    <span>Annotate App</span>
  </a>
  <a _ngcontent-bmu-c48="" mat-button=""
    class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted"
    tabindex="0" aria-disabled="false" href="/">
    <span class="mat-button-wrapper">Files</span>
    <div matripple="" class="mat-ripple mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a _ngcontent-bmu-c48="" mat-button=""
    class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted"
    tabindex="0" aria-disabled="false" href="/"><span class="mat-button-wrapper">Yogurt</span>
    <div matripple="" class="mat-ripple mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a _ngcontent-bmu-c48="" mat-button=""
    class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted"
    tabindex="0" aria-disabled="false" href="/"><span class="mat-button-wrapper">Pizza</span>
    <div matripple="" class="mat-ripple mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a _ngcontent-bmu-c48="" mat-button=""
    class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted"
    tabindex="0" aria-disabled="false" href="/"><span class="mat-button-wrapper">Apple</span>
    <div matripple="" class="mat-ripple mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a _ngcontent-bmu-c48="" mat-button=""
    class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted"
    tabindex="0" aria-disabled="false" href="/"><span class="mat-button-wrapper">Menu</span>
    <div matripple="" class="mat-ripple mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <span class="fillSpace"></span>
  <mat-icon style="padding: 2px;">settings</mat-icon>
  <mat-icon style="padding: 2px;">account_circle</mat-icon>
</mat-toolbar>
<!-- Add Content Here -->
<!-- </mat-sidenav-content> -->
<!-- </mat-sidenav-container> -->