<div class="row" style="margin: auto; padding-top: 5px;background-color: #1F2122">
    <div class="col-md-5" style="min-height: 600px;">
        <div class="row">
            <button mat-button>
                <mat-icon style="color:#ffffff; background-color: #349388;" (click)='goBack()'>arrow_back</mat-icon>
            </button>
            <span class="fillSpace"></span>
            <button mat-button>
                <mat-icon style="color:#ffffff; background-color: #349388;" (click)='addLabel()'>add</mat-icon>
            </button>
        </div>
        <mat-card>
            <app-annotate [templateId]="templateId"></app-annotate>
        </mat-card>
    </div>
    <div class="col-md-7  h-100" style="height:550px;min-width:700px;">
        <!-- <app-konva-shape class="component" [imageSrc]="imageSrc" *ngIf="imageLoaded"> -->
        <app-konva-shape class="component" [templateId]="templateId"></app-konva-shape>
    </div>
</div>