<div class="row " style="margin: auto; padding-top: 5px;">
    <div class="col-md-4 h-100" style="min-height: 600px;">

        <div class="row">
            <button mat-button>
                <mat-icon style="color:#ffffff; background-color: #349388;" (click)='goBack()'>arrow_back</mat-icon>
            </button>
            <span class="fillSpace"></span>
            <button mat-button>
                <mat-icon style="color:#ffffff; background-color: #349388;" (click)='addLabel()'>add</mat-icon>
            </button>
        </div>
        <mat-card>
            <app-annotate></app-annotate>
            <div class="row w-100  justify-content-center">
                <button mat-raised-button style="background-color: #349388;">Submit</button>
            </div>
        </mat-card>
    </div>
    <div class="col-md-8  h-100">

        <!-- <app-konva-shape class="component" [imageSrc]="imageSrc" *ngIf="imageLoaded"> -->
        <app-konva-shape class="component">
        </app-konva-shape>
    </div>
</div>