<!-- <div id="konvaContainer"></div> -->
<mat-card class="justify-content-center" style="min-height: 600px">
    <mat-card-subtitle>./invoice.pdf</mat-card-subtitle>
    <mat-card-content id="konvaContainer">
        <!-- <div class="row" id="konvaContainer"> -->
        <!-- <div class="col-md-1"></div> -->
        <!-- <div class="col-md-10 justify-content-center" id="konvaContainer"></div> -->
        <!-- <div class="col-md-1"></div> -->
        <!-- </div> -->
    </mat-card-content>
</mat-card>