<mat-card class="justify-content-center">
    <mat-card-subtitle> invoice </mat-card-subtitle>
    <!-- <nb-container> -->
    <!-- </nb-container> -->
    <div *ngIf="pdfData.length">
        <button mat-button style="color: #349388" (click)="loadNextPage(false)" *ngIf="pageId > 0">
            <mat-icon>arrow_left</mat-icon>
        </button>
        <button mat-button style="color: #349388" (click)="loadNextPage(true)" *ngIf="pageId < pdfData.length-1">
            <mat-icon>arrow_right</mat-icon>
        </button>
    </div>
    <div >
        <button mat-button style="color: #349388" (click)="zoomIn()">
            <mat-icon>zoom_in</mat-icon>
        </button>
        <button mat-button style="color: #349388" (click)="zoomOut()" >
            <mat-icon>zoom_out</mat-icon>
        </button>
        <button mat-button style="color: #349388" (click)="reset()" >
            <mat-icon>restore</mat-icon>
        </button>
    </div>
    
    <!-- <div style="height:550px;min-width:700px; overflow-x: scroll;overflow-y: scroll"> -->
    <ng-container #popOver="ngbPopover" [ngbPopover]="popContent">
        <mat-card-content #konvaDivId id="konvaContainer"></mat-card-content>
    </ng-container>
    <!-- </div> -->
</mat-card>

<!-- <div mat-button #popOver="ngbPopover" [ngbPopover]="popContent"></div> -->

<ng-template #popContent>
    <mat-card>
        <mat-card-title>{{label}}</mat-card-title>
        <mat-card-content>{{responseText}}
            <button mat-icon-button (click)="closePopover()">
                <mat-icon>check_circle_outline</mat-icon>
            </button>
        </mat-card-content>
    </mat-card>
</ng-template>