<!-- <div id="konvaContainer"></div> -->

<ng-template #popContent>
    <h3>{{responseText}}</h3>
    <div>{{label}}</div>
    <button mat-icon-button>
        <mat-icon>check_circle_outline</mat-icon>
    </button>
</ng-template>

<mat-card class="justify-content-center">
    <mat-card-subtitle> invoice </mat-card-subtitle>
    <!-- <nb-container> -->
    <button mat-button [ngbPopover]="popContent">Popover</button>
    <!-- </nb-container> -->
    <div *ngIf="pdfData.length">
        <button mat-button style="color: #349388" (click)="loadNextPage(false)" *ngIf="pageId > 0">
            <mat-icon>arrow_left</mat-icon>
        </button>
        <button mat-button style="color: #349388" (click)="loadNextPage(true)" *ngIf="pageId < pdfData.length-1">
            <mat-icon>arrow_right</mat-icon>
        </button>
    </div>
    <mat-card-content #konvaDivId id="konvaContainer" style="min-height:700px;min-width:700px"></mat-card-content>
</mat-card>