.full-width-table {
  width: 100%;
}
mat-card {
  background-color: #3c4345;
  color: #ffffff;
  margin: 3px;
}
.accordion {
  background-color: #1f2122;
  color: #ffffff;
}

mat-expansion-panel {
  border: solid 3px #349388;
  background-color: #1f2122;
}
.mat-expansion-panel-header-title {
  color: #ffffff;
}

.example-form {
  color: white;
  background: #525252;
  border-radius: 4px;
  margin: 4px;
}

.example-form:hover {
  border: 1px solid #349388;
  border-radius: 4px;
  /* box-shadow: #349388; */
}

.active {
  border: 2px solid #349388;
  border-radius: 4px;
}

/* .example-form::selection::-moz-selection {
  border: 6px solid #349388;
  border-radius: 4px;
} */

.input-class {
  color: #ffffff;
  caret-color: #349388;
}
.form-field {
  /* width: 125px; */
}

.mat-input-element {
  color: white;
}
.mat-card-css {
  background-color: #1f2122;
}
::ng-deep.mat-select-value {
  color: white !important;
}

::ng-deep.mat-expansion-indicator::after {
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
  background: #1f2122;
}
